$bg-primary: #ffffff;
$bg-secondary: #f5f7f9;
$bg-panel: #c9d6ed;
$bg-footer: #212429;

$text-primary: #222429;
$text-inverse: #ffffff;
$text-muted: #acb2b9;

$accent-primary: #1e22ab;

$status-success: #64a338;
$status-warning: #ffcc00;
$status-error: #e03b24;
$status-info: #87a2c7;